<div class="col-md-5">
    <form [formGroup]="studentForm"></form>
    <label>First Name</label>
    <div class="input-group mb-3">
        <input [formControl]="studentForm.controls['firstName']" type="text" class="form-control" id="basic-url"
            aria-describedby="basic-addon3">
    </div>
    <label>Last Name</label>
    <div class="input-group mb-3">
        <input [formControl]="studentForm.controls['lastName']" type="text" class="form-control" id="basic-url"
            aria-describedby="basic-addon3">
    </div>
    <label>Email Address</label>
    <div class="input-group mb-3">
        <input [formControl]="studentForm.controls['emailAddress']" type="text" class="form-control" id="basic-url"
            aria-describedby="basic-addon3">
    </div>
    <p-button label="Add" styleClass="p-button-success" (onClick)="addStudent()"></p-button>
</div>