<p-button label="Add Student" styleClass="p-button-sm p-button-success"></p-button>
<div class="my-2">
    <p-table class="mb-3" [value]="students" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.emailAddress }}</td>
                <td>
                    <p-button label="Delete" styleClass="p-button-sm p-button-danger" (onClick)="deleteStudent(student.id)"></p-button>
                    <p-button class="ms-1" label="Edit" styleClass="p-button-sm p-button-warning" routerLink="student/{{student.id}}"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>